<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>i3-tracker</title>

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Aleksander Gajewski <adiog@brainfuck.pl>"/>

    <link rel="icon" type="image/png" href="/static/clock.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/clock.png"/>
    <!--<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>-->
    <script>
        function bootstrap()
        {
            (Array.from(document.body.getElementsByTagName('a'))).forEach(function(domElement){
                let link = domElement.getAttribute('xlink:href');
                let id_hash = link.slice(1);
                domElement.removeAttribute('target');
                domElement.addEventListener('mouseover', function() {
                    let sourceDom = document.getElementById(id_hash);
                    let targetDom = document.getElementById('highlight');
                    targetDom.innerHTML = sourceDom.innerHTML;
                });
            });
        }

    </script>
</head>

<body onload="bootstrap();">

{% autoescape off %}
    <div style="align: center; width: 100%">
    <center>
        {{ svg }}
    </center>
    </div>
{% endautoescape %}

<hr/>

<div id="highlight" style="text-align: center;">item preview</div>

<hr/>

<center>
    <table>
        {% for group in group_sorted %}
        <tr style="background-color: {{ group.color }};">
            <td>{{ group.time }}</td>
            <td>{{ group.name }}</td>
        </tr>
        {% endfor %}
    </table>
</center>

<hr/>

<div style="display: none;">
    {% for event in event_list %}
    <div id="{{ event.id_hash }}">
        [{{ event.window_class }}] {{ event.name }} {{ event.duration }}
    </div>
    {% endfor %}
</div>
</body>
</html>
